@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]+label span {
    transition: background 0.2s, transform 0.2s;
}

input[type="radio"]+label span:hover,
input[type="radio"]+label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked+label span {
    background-color: #3490dc;
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked+label {
    color: #3490dc;
}

.map {
    width: calc(100vw - 18px);
    height: calc(100vh - 18px);
    border: 1px solid black;
}

.info-flag {
    height: 16px;
    background-size: cover;
    width: 16%;
}

.leaflet-popup-content-wrapper {
    background: #333 !important;
    color: #fff !important;
}

.leaflet-popup-tip {
    background: #333 !important;
}